
<h1>Add New Employer</h1>

<form asp-controller="Employer" asp-action="ProcessCreateEmployerForm" method="post">

    <div class="form-group">
        <label>Employer Name</label>
        <input name = "Name" />
    </div>

    <br />

    <div class="form-group">
        <label>Employer Location</label>
        <input name = "Location"/>
    </div>

    <br />

    <input type="submit" value="Add Employer" />

</form>