@model AddJobViewModel
@using TechJobs6Persistent.ViewModels
@using TechJobs6Persistent.Models


<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label> Name</label>
        <input name="Name"class="form-control" />
        <span></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployersId">Employer: </label>
        <select asp-for="EmployersId" asp-items="Model.AllEmployers"></select>
        </div>
    
        <a asp-controller="Employer" asp-action="Create">Add Employer</a>
        
    <br />

    <input type="submit" value="Add Job" />
</form>